
<div class="div1">
<table>
  <tr><td>Pokemon</td><td>Info</td></tr>
  <tr *ngFor="let pokemon of pokemons"><td>{{pokemon.name}}</td><td><a (click)="goToCard(this.pokemon.url)">{{pokemon.url}}</a></td></tr>
</table>
</div>
<form (ngSubmit)="onSubmit()" [formGroup]="contactForm">
  <div class="div2"><label class="text-yellow-300 bg-red-600">Número de pokemons</label><input type="number" min="0" max="100" formControlName="cantidad" name="cantidad">
  <br><button type="submit" class="bg-white border-black border-2">Enviar</button>
  </div>
</form>
